#topnav{
	border-radius: 0;
	/*background: transparent;
	*/
	background-color: #F0FEFF;
	opacity: 0.95;

	
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: center;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

html{
	height: 100%;
}

hr{
	width: 80%;
	color: rgba(150, 150, 150, 0.2);
}

body{
	padding:0px;
	margin:0px;
	overflow-x: hidden;
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto;
	overflow-y: scroll;
	padding: 0;
}

.main {
	padding:0;
	float: left;
	width: 100%;
	margin: 0 auto;
}

#homepage{
   	padding-bottom: 20px;	
}

/*.logo h1 a{
	color:white;
	text-shadow:none;
	font-family: Lato,sans-serif;
	padding-left:20px;
}*/

#headerelements li {
	min-width: 100px;
	text-align: center;
	font-family: Lato,sans-serif;
	text-transform: uppercase;
}

#headerelements li a{
	color: #337ab7;
	font-size: 17px;
	font-weight: 400;
}

#headerelements li a:hover{
	background: transparent;
}



/*.logo h1 a{
	text-decoration: none;
	color:white;
}
.logo h1 {
	display:inline;
	padding: 10px 10px 10px 0px;
	font-size: 30px;
	margin: auto;
	float: left;
	font-family: Lato, sans-serif;
	font-weight: 100;
	text-transform: lowercase;
	text-shadow: rgb(3, 3, 3) 0px 2px 5px;
	margin-bottom: 0px;
	margin-left:20px;
	color: white;
	font-size: 40px;
}*/

.navbar-toggle{
    position:relative;
    float:right;
    padding:9px 10px;
    margin-top:8px;
    margin-right:15px;
    margin-bottom:8px;
    background-color:transparent;
    background-image:none;
    /*border:1px solid #444;*/ 
    /*border-radius:4px*/
}

.icon-bar{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px;
    border:1px solid #444;
}

.custom-logo{
	float: left;
	position: relative;
	padding-left: 20px;
	padding-top: 10px;
}

#introText{
	position: relative;
	margin: auto;
	text-align: center;
	font-size: 2.75vw;
	letter-spacing: 2px;
	color: white;
	font-family: Lato,sans-serif;
}

#makeWillBut{
	color: #337ab7;
	background-color:white;
	border: none;
	height: auto;
	margin-top: 5vw;
	font-size: 1.5vw;
	padding-left: 3%;
	padding-right: 3%; 
}

.section-title-area .section-title {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 100;
    position: relative;
    margin-bottom: 0px;
    padding-top: 3vw;
}

.carousel-inner{
	padding-bottom: 45px;
}
.carousel-indicators li {
/*  position: relative;
  bottom: 0px;*/			
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #c0c0c0;
}

#homepage1{
    box-shadow: 0 10px 2px -6px #c0c0c0;
    padding-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 70px;
}

#homepage2{
	position: relative;
	margin-top: 20px;
    box-shadow: 0 10px 2px -6px #c0c0c0;
	padding-bottom: 60px;
	padding-top: 20px;	
}

#homepage3{
	position: relative;
	margin-top: 20px;
	margin-bottom: 9px;
	padding: 40px;    	
    box-shadow: 0 10px 2px -6px #c0c0c0;
}
#homepage4{
	padding-top:40px;
	padding-bottom:40px;
	box-shadow: 0 10px 2px -6px #c0c0c0;
}
#homepage5{
	padding-top:40px;
	padding-bottom:40px;
	box-shadow: 0 10px 2px -6px #c0c0c0;
}
#homepage7{
	padding-top:40px;
	padding-bottom:40px;
	box-shadow: 0 10px 2px -6px #c0c0c0;
}